<div class="chat">
  <h3 class="chat__title">CHAT:</h3>
  <div id="chat-messages" class="chat__messages"></div>
  <form id="message-form" class="chat__controls">
    <input id="message" type="text" placeholder="Write your message..." />
    <button type="submit" class="button">Send</button>
  </form>
</div>
