@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  accent-color: red;
  font-family: "Chakra Petch", sans-serif;
}

main {
  position: relative;
}

::-moz-selection {
  background-color: rgba(255, 0, 0, 0.568627451);
}

::selection {
  background-color: rgba(255, 0, 0, 0.568627451);
}

img {
  image-rendering: pixelated;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}

input {
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
}

.container {
  display: flex;
  gap: 10px;
}

.panel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 5px solid gray;
  background: black;
  pointer-events: none;
  cursor: pointer;
}
.panel.active {
  border: 5px solid red;
}
.panel__info {
  height: 64px;
  color: white;
  padding: 6px 0;
}
.panel__info span {
  font-weight: 700;
  font-size: 18px;
}
.panel__info .panel__info#player2Btn::before, .panel__info .panel__info#player1Btn::before {
  content: "Playing";
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5;
  left: 0;
  color: red;
}
.panel__info#player1Btn::before {
  bottom: -24px;
}
.panel__info#player2Btn::before {
  top: -24px;
}

.game {
  width: 100%;
}

.items {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.items#player1Items {
  margin-bottom: 6px;
  pointer-events: none;
}
.items#player2Items {
  margin-top: 6px;
  pointer-events: none;
}
.items .item {
  width: 100%;
  border: 4px solid orange;
  background: white;
  cursor: pointer;
  max-width: 45.5px;
}

.screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  background: black;
  border: 5px solid #ffbf00;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.screen__upper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.screen__bottom {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.screen__bottom .code {
  display: flex;
  gap: 8px;
}
.screen__bottom .code #lobbyCode {
  font-weight: 700;
  color: #ffbf00;
}
.screen__bottom #join-status {
  margin: 0 auto;
  margin-bottom: 5px;
}
.screen__bottom #join-status.success {
  color: green;
}
.screen__bottom #join-status.fail {
  color: red;
}
.screen__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen__title h1 {
  font-size: 48px;
}
.screen__title h2 {
  font-size: 32px;
  color: red;
}
.screen__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.screen__footer a {
  color: red;
}
.screen#endScreen {
  display: none;
}
.screen#joinScreen {
  display: none;
}

.lobby {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 0 30px;
}
.lobby .player {
  width: 100%;
  border: 5px solid red;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 60px;
}
.lobby .player__img {
  width: 50px;
  height: 50px;
}
.lobby .player__name {
  color: red;
  font-weight: 600;
}
.lobby .player__status {
  font-size: 14px;
  color: green;
}

.table {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table #mainBtn {
  rotate: -45deg;
  cursor: pointer;
}
.table #mainBtn.toPlayer1 {
  animation: toPlayer1 500ms;
  rotate: 90deg;
}
.table #mainBtn.toPlayer2 {
  animation: toPlayer2 500ms;
  rotate: -90deg;
}
.table .shells {
  position: absolute;
  bottom: 50px;
  transform: translateX(50%);
  pointer-events: none;
  transition: all 0.3s ease;
}
.table .shells__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.table .shells__text {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 4px;
}
.table .shells .shell {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40px;
}
.table .shells.slide-in {
  animation: slideIn 500ms ease-in-out;
  right: 50%;
}
.table .shells.slide-out {
  animation: slideOut 500ms ease-in-out;
  opacity: 0;
}

.output {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.output.slide-out {
  animation: slideOut 500ms ease-in-out;
  opacity: 0;
}

.button {
  background: #ffbf00;
  border: none;
  font-weight: 600;
  width: 100%;
}
.button:hover {
  background: red;
}

.input {
  background: black;
  color: white;
  border: 5px solid #ffbf00;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.input:focus {
  outline: none;
  border-color: red;
}
.input:hover {
  border-color: red;
}
.input::-moz-placeholder {
  font-weight: 500;
  text-transform: initial;
}
.input::placeholder {
  font-weight: 500;
  text-transform: initial;
}

.chat {
  background: black;
  border: 5px solid #ffbf00;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 340px;
  height: 340px;
}
.chat__title {
  width: 100%;
  margin-bottom: 5px;
}
.chat__messages {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.chat__messages {
  scrollbar-width: auto;
  scrollbar-color: #ffbf00 black;
}
.chat__messages::-webkit-scrollbar {
  width: 16px;
}
.chat__messages::-webkit-scrollbar-track {
  background: black;
}
.chat__messages::-webkit-scrollbar-thumb {
  background-color: #eeff00;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.chat__message-you {
  font-weight: 600;
  color: red;
}
.chat__message-opponent {
  font-weight: 600;
  color: #ffbf00;
}
.chat__message-info {
  font-weight: 600;
  color: green;
}
.chat__controls {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: 10px;
}
.chat__controls input {
  flex: 1;
  background: black;
  border: 3px solid #ffbf00;
  font-weight: 500;
  padding: 6px 12px;
  height: 100%;
  color: white;
  font-family: inherit;
}
.chat__controls input:focus {
  outline: none;
  border-color: red;
}
.chat__controls input:hover {
  border-color: red;
}
.chat-controls {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}
.chat-controls button:disabled {
  position: relative;
  color: inherit;
  background: gray;
  cursor: not-allowed;
}
.chat-controls button:disabled::before {
  content: "Soon available";
  position: absolute;
  bottom: -17.5px;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  color: gray;
}/*# sourceMappingURL=main.css.map */