@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");

// Variables
$game-width: 400px;
$game-height: 400px;

$transition-effect: 0.3s ease;

// Colors
$primary: red;
$secondary: #ffbf00;

// Font and typography
$body-font: "Chakra Petch", sans-serif;
