/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");

/* Reset */
/* ------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #ff000091;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  accent-color: red;
  font-family: "Chakra Petch", sans-serif;
}

main {
  position: relative;
}

/* ------------------------ */

/* Start Screen */
/* ------------------------ */
#startScreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  background: black;
  border: 5px solid #ffbf00;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.startScreen-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startScreen-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startScreen-title h1 {
  font-size: 48px;
}

.startScreen-title h2 {
  font-size: 32px;
  color: red;
}

.startScreen-top button {
  background: #ffbf00;
  border: none;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  width: 50%;
  margin-top: 40px;
  cursor: pointer;
}

.startScreen-top button:hover {
  background: red;
}

/* ------------------------ */

/* End Screen */
/* ------------------------ */
#endScreen {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  background: black;
  border: 5px solid #ffbf00;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

/* ------------------------ */

/* Output */
/* ------------------------ */
#output {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
}

#output.slide-out {
  animation: slideOut 500ms ease-in-out;
  opacity: 0;
}

/* ------------------------ */

/* Table */
/* ------------------------ */
.table {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ------------------------ */

/* Players */
/* ------------------------ */
.player {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 4px solid gray;
  background: black;
  cursor: pointer;
  pointer-events: none;
}

.player.active {
  border-color: red;
}

/* Player 1 Button */
#player1Btn.active::before {
  content: "Playing";
  position: absolute;
  top: -24px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  left: 0;
  color: red;
}

/* Player 2 Button */
#player2Btn.active::before {
  content: "Playing";
  position: absolute;
  bottom: -24px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  left: 0;
  color: red;
}

.player img {
  image-rendering: pixelated;
}

/* Player Text */
.player-text {
  height: 64px;
  color: white;
  padding: 6px 0;
}

.player-text span {
  font-weight: 700;
  font-size: 18px;
}
/* ------------------------ */

/* Buttons */
/* ------------------------ */
button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}
/* ------------------------ */

/* Debug Screen */
/* ------------------------ */
.debugScreen {
  position: absolute;
  left: 0;
  top: 0;
}
/* ------------------------ */

/* Shell Container */
/* ------------------------ */
.shell-container {
  position: absolute;
  bottom: 50px;
  transform: translateX(50%);
  pointer-events: none;
  transition: all 0.3s ease;
}

.shell-container.slide-in {
  animation: slideIn 500ms ease-in-out;
  right: 50%;
}

.shell-container.slide-out {
  animation: slideOut 500ms ease-in-out;
  opacity: 0;
}
/* ------------------------ */

/* Shells */
/* ------------------------ */
#shells {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

#shell-text {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 4px;
}

.shell {
  object-fit: cover;
  height: 40px;
  image-rendering: pixelated;
}

.shell.regular {
  background: red;
}

.shell.empty {
  background: green;
}
/* ------------------------ */

/* Main Button */
/* ------------------------ */
#mainBtn {
  image-rendering: pixelated;
  rotate: -45deg;
  cursor: pointer;
}

#mainBtn.toPlayer1 {
  rotate: 90deg;
}

.toPlayer1 {
  animation: toPlayer1 500ms;
}

#mainBtn.toPlayer2 {
  rotate: -90deg;
}

.toPlayer2 {
  animation: toPlayer2 500ms;
}
/* ------------------------ */

/* Items Container */
/* ------------------------ */
.items-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

#player2Items {
  margin-top: 6px;
  pointer-events: none;
}

#player1Items {
  margin-bottom: 6px;
  pointer-events: none;
}
/* ------------------------ */

/* Items */
/* ------------------------ */
.item {
  width: 100%;
  image-rendering: pixelated;
  border: 4px solid orange;
  background: white;
  cursor: pointer;
  max-width: 45.5px;
}
/* ------------------------ */

/* Keyframes */
/* ------------------------ */
@keyframes toPlayer1 {
  from {
    rotate: -45deg;
  }
  to {
    rotate: 90deg;
  }
}

@keyframes toPlayer2 {
  from {
    rotate: -45deg;
  }
  to {
    rotate: -90deg;
  }
}

@keyframes slideIn {
  from {
    right: 10%;
    opacity: 0;
  }
  to {
    right: 50%;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 50%;
    opacity: 1;
  }
  to {
    right: 90%;
    opacity: 0;
  }
}
/* ------------------------ */
